* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.wrapper {
  text-align: center;
  margin-top: 3em;
}

.customer-list {
  margin-top: 3em;
  height: 85vh;
  overflow: scroll;
}

.cust-detail {
  margin-top: 5.7em;
  padding: 20px;
  width: 20em;
  height: 50vh;
  min-height: 30em;
  border: 1px solid #dddddd;
}

table {
  border-collapse: collapse;
}

td,
th {
  border: 1px solid #dddddd;
  /* text-align: left; */
  padding: 20px;
}

.btn-edit,
.btn-delete {
  border: none;
  /* background-color: gray; */
  cursor: pointer;
  font-size: 16px;
}

.btn-edit:hover {
  color: rgb(6, 221, 6);
}

.btn-delete:hover {
  color: red;
}

.add-cust {
  margin-top: 3em;
  padding: 1em;
}

.add-cust label {
  float: left;
  font-size: 20px;
  margin-bottom: 0.3em;
}

.add-cust input {
  width: 100%;
  height: 2.5em;
  margin-bottom: 1em;
  padding: 10px;
  border-radius: 5px;
}

.btn-add-cust {
  font-size: 20px;
  margin-top: 2em;
  width: 150px;
  height: 50px;
  border-radius: 7px;
  cursor: pointer;
}

.btn-add-cust:hover {
  background-color: rgb(101, 170, 101);
  transition: ease-in-out 0.3s;
  color: white;
}

.edit-customer {
  color: rgb(101, 170, 101);
  font-size: 30px;
}
